.App{
  text-align: center;
}
h1{
  border: 9px solid grey;
  background-color: black;
  color: white;
  font-size: 34px;
  border-radius: 10px;
}
#pic1{
  width: 188px;
  padding-top: 13px;}

h3{
  margin-top: 3px;
}
.card{
  display: block;
}
#contain{
  border:2px solid grey;
  margin:39px;
  border-radius: 10px;
  height: 401px;
}
/* @media (min-width:1024px){
  .card{
    display: flex;
    justify-content: space-around;
  }
  #contain{
    height: 935px;
  }
  #pic1{
    width: 528px;
  }
} */